@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Light-webfont.woff") format("woff");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-LightItalic-webfont.woff") format("woff");
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Bold-webfont.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}  
page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
}

header {
    margin: 1.5em auto;
}

.vSpacing1 {
    min-height: 2em;
}
h1 {
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    font-style: bold;
    text-align: center;
}
h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1.4em;
    font-style: bold;
    text-align: center;
}
p {
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    font-style: normal;
}

.editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*outline: 1px solid blue;*/
    width: 100%;
}

.editor-tools {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.editor-tools-buttons {
    display: flex;
}

.editor-tools-select {
    display: flex;
}

.current-texteditor-label {
    margin-right: 1em;
}

.select-page{
    width: 10em;
}

.button-save {
    display: flex;
    margin-right: 1em;
}

.add-page-text {
    margin-left: 0.5em;
    width: 10em;
}

.text-editors {
    width: 100%;
}

.texteditor-and-label {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 100%;
    margin-top: 1em;
}

.texteditor{
    /*outline: 1px solid green;*/
    width: 100%;
    min-height: 200px;
}

.your-space {
    outline: 1px solid rgb(207, 202, 202);
}

@media only screen and (max-width: 400px) {
    html {
      font-size: 100%;
    }
    .page {
      /*background-color: #DDDDDD;*/
      max-width: 100%;
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }
   
  }